Hello [% forgot_user.users_name %],
<br />
Your Password for www.dedomart.com is [% forgot_user.users_pass %] .<br />
Username is : [% forgot_user.users_email %]<br />
<br />
Thanks,<br />
Team DedoMart<br />
 

