<div class="row">
<h2>Forgot Password</h2>
</div>
<div class="row ">
<blockquote>
		DeDoMart has industry leading prices and Please check back for future Promotions.
</blockquote>
</div>
             