<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[% c.config.seo.${c.action}.title ||
	c.config.seo.default.title %]</title>
<meta name="keyword"
	content="[% c.config.seo.${c.action}.keywords || c.config.seo.default.keywords %]" />
<meta name="description"
	content="[% c.config.seo.${c.action}.desc || c.config.seo.default.desc %]" />
<meta name="author" content="abhishek jain">

<!-- Le styles -->
<link href="/static/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-responsive.css"
	rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="/static/assets/ico/favicon.ico">

<!-- Place this tag in the <head> of your document for Google + -->
<script type="text/javascript">
window.___gcfg = {lang: 'en'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();</script>

</head>

<body>

	<div class="container">

		<div class="row">
			<div class="span2">
				<img src="/static/assets/img/logo.png">
			</div>

			<div class="span5">
								<img src="/static/images/domain-name-banner.png" width="410px;">
			</div>

			<div class="span2">

				<div class="row">
					<strong>24 x 7 Support Phone</strong><br> <strong>Support
						on below numbers</strong>
				</div>
				<div class="row">
					<i class="icon-comment icon-black"></i>+1 845 883 2233
				</div>
				<div class="row">
					<i class="icon-comment icon-black"></i>+44 203 286 3232
				</div>
				<div class="row">
					<i class="icon-comment icon-black"></i>+91 9971376767
				</div>

				<div class="row">
					<i class="icon-blank"></i> <a
						href="http://www.webbeeglobal.com/contact" target="_new"><span
						class="label label-info">Contact Address</span></a>
				</div>

			</div>


			<div class="span3">
				<form class="form-inline" action="login" method="POST">
					<div class="well" style="padding-top: 0px; padding-bottom: 0px;">

						<div style="padding-left: 15px;">

							<div class="row">

								<div class="span1">


									<div class="row">
										<i class="icon-shopping-cart"></i> [% IF c.session.cart %] <a
											href="cart">My Cart</a> [% ELSE %] (0) in Cart [% END %] <img
											src="/static/images/flags/[% c.session.cflag %].png" />

									</div>
									
									[% IF c.user_exists == 1 %] 
									<div class="row">									
									Welcome [% c.user.users_email %]
									</div>
									<div class="row">


										<a href="myaccount">My Account</a>
									</div>
									<div class="row">
										<a href="logout">Logout</a>
									</div>
									<div class="row">&nbsp;</div>


									[% ELSE %]
									<div class="row">
										<input type="text" name="username" placeholder="Email"
											class="input-small">
									</div>
									<div class="row">
										<input type="password" class="input-small" name="password"
											placeholder="Password">
									</div>
									<div class="row">
										<a href="forgot_password">Forgot Password</a> 
									

									</div>
									[% END %]
								</div>
							




							<div class="span1">
								<div class="row">&nbsp;</div>

								[% IF c.user_exists == 1 %][% ELSE %]
								<div class="row">
									&nbsp;
								</div>
								<div class="row">
									&nbsp;
								</div>
								<div class="row">
									<button name="submit" type="submit"
										class="btn btn-info btn-mini">Sign In</button>
								</div>
								<div class="row">
									<a href="join" class="btn btn-info btn-mini">Sign
										Up</a>
								</div>
								[% END %]



							</div>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>






	<div class="navbar ">
		<div class="navbar-inner">
			<div class="container">

				<div class="nav-collapse" style="background-color: red;">
					<ul class="nav">
						<li class="active"><a href="/"><i
								class="icon-home icon-white"></i>Home</a></li>
						<li><a href="/">Register Domain</a></li>
						<li><a href="/pricing_detail">Pricing</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li class="divider"><a href="#"></a></li>
						<li><a href="join">Sign UP</a></li>
						<li><a href="login">Login</a></li>
						<li class="divider"><a href="#"></a></li>
						<li class="divider"><a href="#"></a></li>
					</ul>
					
					<ul class="nav pull-right">
						<li><a href="/hosting">Free Hosting</a></li>
						<li><a href="/promotions">Promotions</a></li>
					</ul>
											<ul class="nav pull-right">
						<li><img src="/static/images/Google-icon.png"></li>
						<li><img src="/static/images/FaceBook-icon.png"></li>
						<li><img src="/static/images/Feed-icon.png"></li>
						</ul>
					
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	[% IF c.action != 'index' %]
	<div class="row">
		<div class="span2 well">


			<div style="padding-left: 20px;">[% IF c.user_exists == 1 %] [% INCLUDE
				left_nav.tt2 %] [% ELSE %] [% INCLUDE before_login_left_nav.tt2 %]
				[% END %]</div>



		</div>

		<div class="span8 offset1">[% content %]</div>

	</div>


	[% ELSE %] [% content %] [% END %]


	</div>

	<div class="row" style="background-color: #E6E6E6;" >
		<div class="span12">
			<div class="container" >
					<!-- Place this tag where you want the badge to render -->
					<div class="span4 offset1">
					<g:plus href="https://plus.google.com/102788543903531119983" rel="publisher" width="300" height="69" theme="light"></g:plus>
					</div>

					<img src="/static/images/paypal.gif" class="pull-right"/>
					<img src="/static/images/Feed-icon.png" class="pull-right" />
  			</div>
		</div>
	</div>
<div class="container">
<div class="row" style="font-size: x-small;">
&copy; COPYRIGHT 2005 - 2012, WEBBEE ESOLUTIONS PVT. LTD. ALL RIGHT RESERVED.
<div class="pull-right">
<a href="/">Home</a> |<a href="http://www.webbeeglobal.com/" target="_blank">Contact Us</a> | <a href="/agreement">Terms & Conditions</a> | <a href="/faq">Help</a>
</div>
</div>
</div>

	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="/static/assets/js/bootstrap-button.js"></script>
	<!-- start google tracking -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl."
				: "http://www.");
		document
				.write(unescape("%3Cscript src='"
						+ gaJsHost
						+ "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-1617381-10");
			pageTracker._trackPageview();
		} catch (err) {
		}
	</script>
	<!-- end google tracking -->

</body>
</html>
